<div style="text-align:center; margin-top:60px;">
    <h2>🎉 Thanh toán thành công!</h2>
    <p>Cảm ơn bạn đã mua hàng tại <b>DreamShop</b> ❤️</p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-danger">Quay lại trang chủ</a>
</div>
